parameters:
    errorFormat: symplify

    level: 8

    paths:
        - src
        - tests

    excludePaths:
        # test fixtures
        - */Fixture/*

    treatPhpDocTypesAsCertain: false

    # false positive
    ignoreErrors:
        -
            message: '#Method Entropy\\Container\\Container\:\:make\(\) should return TType of object but returns object#'
            path: src/Container/Container.php

        -
            message: '#Method Entropy\\Container\\Container\:\:hasAllParametersWithTypedClasses\(\) has parameter \$classReflection with generic class ReflectionClass but does not specify its types\: T#'
            path: src/Container/Container.php

